<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.cn.java.pojo"/>
    </typeAliases>
<!--    <mappers>-->
<!--        <mapper resource="mappers/selectMapper.xml"/>-->
<!--        <mapper resource="mappers/SingleToManyMapper.xml"/>-->
<!--    </mappers>-->
</configuration>